#texto-contato {

    justify-content: center;
    gap: 125px;
    margin-top: 150px;
    display: flex;
}

#texto-contato h1 {

    margin-top: 0px;
    margin-left: 80px;

    font-family: 'Ibarra Real Nova';
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: center;
    
}

#texto-contato p {

    
    width: 635px;
    height: 180px;

    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;

}