header {
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 850px;
}

header button {
  background-color: white;
  border: none
}

button:hover {
  cursor: pointer;
}

#icone-triangulos {
  height: 32px;
}