#body {

  width: 1255px;

  margin: auto;
}

header {

  display: flex;
  justify-content: space-between;

  margin-bottom: -164px;
  padding-top: 64px;
  padding-right: 72px;
  padding-left: 72px;

  height: 150px;
}

#icone-triangulos {
  height: 32px;
}

#cabecalho a {

  margin-left: 42px;

  text-decoration: none;
  text-align: left;
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;

  color: black;
}

#link-home {

  color: #5FB4A2 !important;
}

#home-card1 {

  display: flex;
  align-items: flex-end;

  background-image: url('../assets/home/image-homepage-hero-edit.jpg');
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 150px;

  height: 600px;
  width: 100%;
}

#container-texto-card1 {

  background-color: white;

  padding-left: 45px;
  padding-right: 28px;
  margin-bottom: 75px;

  width: 445px;
  height: 357px;
}

#texto-grande {

  font-family: 'Ibarra Real Nova';
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.4464285671710968px;
  text-align: left;

  padding-left: 56px;
}

#container-botao-card1:hover {
  cursor: pointer;
}

#container-botao-card1 {

  background-color: #203A4C;

  display: flex;
  justify-items: center;
  align-items: center;
  gap: 50px;

  width: 200px;
  height: 48px;

  margin-left: 23px;
  padding-left: 15px;
  border: none;
}

#down-arrows {

  background-color: #203A4C;

  border: none;
  margin-bottom: 7px;

  height: 12px;
}

#botao1 {

  color: white;
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
}

#image-profile {

  width: 540px;
  height: 600px;
}

#home-card2 {

  display: flex;

  margin-top: 149px;
  margin-left: -80px;
  padding-left: 165px;
}

#container-sobre-mim {

  margin-left: 140px;
  width: 430px;
  height: 360px;
}

#titulo-sobre-mim {

  font-family: 'Ibarra Real Nova';
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.3571428656578064px;
  text-align: left;
  color: #33323D;
}

#p-sobre-mim {

  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #5B5A63;
}

#botao2 {

  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;

  display: block;

  margin: auto;
  margin-top: 30px;

  width: 204px;
  height: 48px;
}

#home-card3 {

  display: flex;
  justify-content: space-between;
}

#titulo-card3 {

  font-family: 'Ibarra Real Nova';
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.3571428656578064px;
  text-align: left;
  color: #33323D;

  padding-left: 80px;
  margin-top: 125px;

  width: 367px;
}

#botao3 {

  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  
  margin-top: 152px;
  margin-right: 100px;

  width: 168px;
  height: 48px;
}

#footer-home {

  margin-top: 80px;
  padding-top: 38px;
  
  width: 1255px;
  height: 60px;
  background-color: #33323D;
}

#container-footer-home {

  display: flex;
  align-items: center;
}

#triangulos-branco {
  
  padding-left: 80px;
}

#footer-home a{

  margin-left: 42px;

  text-decoration: none;
  text-align: left;
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;

  color: white;
}

#github-light {
  
  margin-left: 590px;
  margin-right: 20px;
}

#twitter-light {

  margin-right: 20px;
}
