#texto-contato {
    border-top: 1px solid #33323d3a;
    border-bottom: 1px solid #33323d3a;
    width: 1110px;
    margin: auto;
    margin-top: 75px;
    padding-top: 30px;
    padding-bottom: 30px;

    justify-content: center;
    gap: 125px;
    display: flex;
}

#texto-contato h1 {
    margin-top: 0px;
    margin-left: 80px;
}

#texto-contato p {
    width: 635px;
}

#twitter-dark {
    margin: 0 20px;
}

#info-contato {
    display: flex;
    justify-content: center;
    gap: 286px;

    margin-top: 30px;
}

#info-contato h1 {
    margin-left: 73px;
    margin-top: 0px;
}

#inputs-container div {
    background-color: #E6E6E7;

    height: 48px;
    width: 635px;
}

#div-maior-contato {
    height: 96px !important;
}

#inputs-container button {
    width: 200px;
    height: 48px;

    margin-top: 30px;

    border: none;
    background-color: #203A4C;
}